@import url('https://fonts.googleapis.com/css2?family=Combo&family=DM+Mono:wght@300&family=Montserrat:wght@500&family=Reem+Kufi+Fun&family=Roboto:wght@300;400&family=Yantramanav:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-repeat: no-repeat;
    place-items: center;
}

.logo {
    height: 40px;
    width: 40px;
}

main {
    background: linear-gradient(#76278F, #2B1E66);
    background-repeat: no-repeat;
}

nav {
    display: flex;  
    align-items: center;
    background-image: url(./img/hero.gif);
    background-repeat: no-repeat;
    justify-content: space-around;
    min-height: 8vh;
    width: 100%;
    z-index: 1;
    color: white;
}

li {
    display: inline-block;
    justify-content: space-between;
    /*list-style: none;*/
    font-family: mont;
}
b {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}


